body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    font-family: sans-serif;
}
h1{
    color:floralwhite;
    font-weight: bold;
    align-content: center;
}
h2{
    color:blanchedalmond;
    font-weight: bold;
}
p{
    font-weight: bold;
    font-family: sans-serif; 
    font-size: 60pt;
    color:chartreuse;
}
.column {
    font-weight: bold;
    color: azure;
    float: left;
    /*width: 33.33%;*/
    width: 15%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  .column :hover{
    transform: scale(1.2);
    color: bisque;
  }
  .tablero{
    float: left;
    width: 60%;
    padding: 10px;
    height: 400px;
    background-color: #333;
  }
canvas{border:solid;}
.textbox{
    border-radius: 10px;
    height: 30px;
    width: 250px;
}
.boton{
  border-radius: 10px;
  width: 120px;
  height: 35px;
  border-color: #333;
  border-style: solid;
  font-size: large;
  font-weight: bold;
  font-family: sans-serif;
}
.boton:hover{
  color:aliceblue;
  width: 115px;
  height: 30px;
  border-color: aliceblue;
  background-color: #333;
}
